<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="test"  connectionString="Data Source=HULILY\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <!-- excel 相關設定 Start-->
    <!-- 需不需要寫excel 1要  0不要-->
    <add key="Excel"             value="1"/>
    <!-- 儲存位置-->
    <add key="ExcelFileSavePath" value="C:\log"/>
    <!-- excel 相關設定 End-->

  </appSettings>

</configuration>